{% for entry in site.data.navigation.mobile %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}

<div class="full reveal black-background-color mono-regular" id="revealMobile" data-reveal data-animation-in="spin-in" data-animation-out="fade-out">
  <div class="grid-y align-center" style="min-height: 100%">

    <div class="shrink cell text-center">
      <ul class="menu vertical align-center">
        {% for entry in site.data.navigation.mobile %}
        {% if entry.url == current_page %}
        {% assign current = ' class="active"' %}
        {% else %}
        {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        <li{{ current }}>
        <a href="{{ site.baseurl }}{{ entry.url }}" class="h4" data-close>{{ entry.title }}</a>
        <ul class="menu vertical">
        {% for sublink in sublinks %}
        <li><a href="{{ site.baseurl }}{{ sublink.url }}" class="h4">{{ sublink.title }}</a></li>
        {% endfor %}
        </ul>
        </li>
        {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="h3 text-uppercase" data-toggle="revealMobile">{{ entry.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a class="white" aria-label="Close" data-toggle="revealMobile"><svg class="icon icon-clearclose"><use xlink:href="/assets/icons/symbol-defs.svg#icon-clearclose"></use></svg></a></li>
      </ul>
    </div>

  </div>
</div>