<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y navigation">
  
  <div class="small-9 medium-5 cell">
    <a href="/" class="h5 text-uppercase site__title" id="site__title">{{site.title}}</a>
  </div>
  
  <div class="shrink cell text-right show-for-small-only">
    <a class="h5 text-uppercase" data-toggler=".is-active" aria-label="menu" data-toggle="offCanvasMobile">Menu</a>
  </div>
  
  <div class="small-3 cell hide-for-small-only">
    <a class="h5 text-uppercase" data-toggler=".is-active" aria-label="menu" data-toggle="offCanvasProjects">Projects</a>
  </div>
  
  <div class="small-3 cell hide-for-small-only">
    <a class="h5 text-uppercase" data-toggler=".is-active" aria-label="menu" data-toggle="offCanvasAbout">Info</a>
  </div>
  
</div>
<!-- End Navigation -->