---
layout: default
---

<!-- Film -->
<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
<div class="small-12 cell">
  <h3 class="text-uppercase">Film</h3>
</div>
</div>

{% assign films = site.films | sort: 'date' | reverse %}
{% for project in films %}
<div class="grid-x grid-padding-x padding-bottom-1" data-aos="fade-in">
<div class="small-12 medium-3 large-3 cell">{{project.title}}</div>
<div class="small-12 medium-2 large-2 cell">{{project.director}}</div>
<div class="small-12 medium-5 large-5 cell">{{project.with}}</div>
<div class="small-12 medium-2 large-2 cell show-for-medium text-right">{{project.date | date: '%Y'}}</div>
</div>
{% endfor %}
<!-- End Film -->

<!-- Television -->
<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
<div class="small-12 cell">
  <h3 class="text-uppercase">Television</h3>
</div>
</div>

{% assign television = site.television | sort: 'date' | reverse %}
{% for project in television %}
<div class="grid-x grid-padding-x padding-bottom-1" data-aos="fade-in">
<div class="small-12 medium-3 large-3 cell">{{project.title}}</div>
<div class="small-12 medium-2 large-2 cell">{{project.director}}</div>
<div class="small-12 medium-5 large-5 cell">{{project.with}}</div>
<div class="small-12 medium-2 large-2 cell show-for-medium text-right">{{project.date | date: '%Y'}}</div>
</div>
{% endfor %}
<!-- End Television -->

<!-- Commercials -->
<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
<div class="small-12 cell">
  <h3 class="text-uppercase">Commercials</h3>
</div>
</div>

{% assign commercials = site.commercials | sort: 'date' | reverse %}
{% for project in commercials %}
<div class="grid-x grid-padding-x padding-bottom-1" data-aos="fade-in">
<div class="small-12 medium-3 large-3 cell">{{project.title}}</div>
<div class="small-12 medium-2 large-2 cell">{{project.director}}</div>
<div class="small-12 medium-5 large-5 cell">{{project.with}}</div>
<div class="small-12 medium-2 large-2 cell show-for-medium text-right">{{project.date | date: '%Y'}}</div>
</div>
{% endfor %}
<!-- End Commercials -->

<!-- Music Videos -->
<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
<div class="small-12 cell">
  <h3 class="text-uppercase">Music Videos</h3>
</div>
</div>

{% assign music-videos = site.music-videos | sort: 'date' | reverse %}
{% for project in music-videos %}
<div class="grid-x grid-padding-x padding-bottom-1" data-aos="fade-in">
<div class="small-12 medium-3 large-3 cell">{{project.title}}</div>
<div class="small-12 medium-2 large-2 cell">{{project.director}}</div>
<div class="small-12 medium-5 large-5 cell">{{project.with}}</div>
<div class="small-12 medium-2 large-2 cell show-for-medium text-right">{{project.date | date: '%Y'}}</div>
</div>
{% endfor %}
<!-- End Commercials -->