---
layout: default
---

<!-- Company Description -->
<div class="grid-x grid-padding-x grid-padding-y padding-top-2 padding-bottom-2">
  <div class="small-12 medium-10 large-10 xxlarge-8 cell">{{page.description | markdownify}}</div>
</div>
<!-- End Company Description -->


<!-- Selected Projects -->
<div class="grid-x grid-padding-x">
  <div class="small-12 medium-10 large-10 xxlarge-10 cell"><h6 class="text-uppercase">Selected Projects</h6></div>
</div>

<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1 large-up-1 xlarge-up-2 xxlarge-up-2">
  {% assign projects = paginator.posts %}
  {% for project in projects %}
    {% include excerpt.html %}
  {% endfor %}
</div>
<!-- End Selected Projects -->

<!-- In Production -->
<div class="grid-x grid-padding-x grid-padding-y margin-top-2">
  <div class="small-12 medium-10 large-10 xxlarge-8 cell"><h6 class="text-uppercase">In Production</h6></div>
</div>

<div class="grid-x grid-padding-x">
  <div class="small-12 cell">
  {% assign in-production = site.in-production | sort: 'position' %}
  {% for project in in-production %}
     {% if project.imdb %}<a href="{{ project.imdb }}">{% endif %}
     <div class="margin-bottom-2">
      <h4 class="secondary-font">{{ project.title }}</h4>
      <h5>Director — {{ project.director }}</h5>{% if project.with %}<h5>With — {{ project.with }}</h5>{% endif %}</div>
     {% if project.imdb %}</a>{% endif %}
  {% endfor %}
  </div>
</div>
<!-- End In Production -->