---
layout: default
---

<!--
<section class="section home__feature__video" style="height: 60vh;">
<video src="assets/videos/only-god-forgives-edit.mp4" autoplay muted playsinline loop></video>
</section>
-->

<!-- Projects -->
<div class="grid-x grid-padding-x grid-padding-y padding-top-2 padding-bottom-2">
  <div class="small-12 medium-10 large-8 cell">{{page.description | markdownify}}</div>
</div>
<!-- End Projects -->


<!-- Projects -->
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1 large-up-1 xlarge-up-2 xxlarge-up-2">
  {% assign projects = paginator.posts %}
  {% for project in projects %}
    {% include excerpt.html %}
  {% endfor %}
</div>
<!-- End Projects -->